# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.coverage.xml
pytestdebug.log

# Mypy / type checkers
.mypy_cache/
.pyre/
.pytype/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store

# Env files / secrets
.env
.env.*

# Logs
*.log

# Local databases
*.sqlite
*.sqlite3

# Alembic
alembic/versions/*.pyc

# Misc
.ipynb_checkpoints/
